<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %c{1.}: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!--
        <Logger name="org.apache.beam.sdk.util.WindowTracing" level="DEBUG">
            <AppenderRef ref="Console"/>
        </Logger>
        -->
        <Logger name="org.apache.beam.sdk.io.kafka" level="DEBUG">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.kafka.clients" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- Keep this one at INFO for metrics -->
        <Logger name="org.opennms.nephron.flows" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
